.oui1{
    background-color: rgb(0, 0, 0);
    color: white;
}
.oui2{
    background-color: rgb(251, 255, 0);
    color: black;
    border-radius: 25px;
}
.oui3{
    background-color: rgb(11, 172, 11);
    color: white;
    border-radius: 5px;
}
.oui4{
    background-color: rgb(201, 4, 158);
    color: white;
    border-radius: 4px;
}
.oui5{
    color: rgb(70, 67, 67);
    border-radius: 4px;
}
.oui6,.oui7{
    background-color: rgb(4, 0, 255);
    color: white;
    border-radius: 25px;
}
.oui6{
    border: none;
}
.oui7{
    color: blue;
    background-color: white;
    border: 0.5px solid blue;
}